$('.flash-msgs').append('<div class="alert alert-success" role="alert"><%= j flash[:notice] %></div>');

$('.question .subscribe-controls').html('<%= j link_to 'Subscribe', subscribe_question_path(@question), method: :post, remote: true %>');
