development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "76eb9e992dac750436ed38196d4d8dec8ca4b18b627945b974cb0285cf986880"
  signature_expiration: 3600 # one hour
