.answers-list {
  div[id^='answer_'] {
    margin: 40px 0px 0px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c2c2c2;

    .answer-body {
      padding: 10px;
    }
  }
}

.edit_answer { display: none; }
