div.question {
  padding: 5px 20px;

  .question-header {
    border-bottom: 1px solid #e5e5e5;
  }

  p {
    padding: 10px 0;
  }

  .question-controls {
    border-top: 1px solid #e5e5e5;

    ul {
      padding-left: 0px;
      li {
        display: inline-block;
        padding: 0 5px 0 0;
      }
    }
  }
}

div.answers {
  padding: 5px 20px;

  div#new-answer-form {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
  }
}

.votes {
  p {
    font-size: 18px;
    float: left;
    padding: 10px !important;
  }
}

div#edit-question-form-container { display: none; }
div#new-answer-form { display: none; }
div.new-comment-form-container { display: none; }


.question {
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  &::after {
    clear: both;
    content: '.';
    height: 0px;
    display: block;
  }
  .votes, .answers {
    width: 80px;
    float: left;
    text-align: center;
    padding: 15px 5px;
    margin-top: 5px;
  }
  .summary {
    float: left;
    margin-left: 0px;
    padding: 5px 20px;
  }
}

.question-header {
  margin-bottom: 1em;
  border-bottom: 1px solid #E5E5E5;
}

table.post {
  margin-top: 30px;
}

td.vote-cell {
  vertical-align: top;
}

.votes-container {
  width: 50px;
  text-align: center;

  .votes-sum {
    p {
      font-size: 20px;
    }
  }
}

.post-cell {
  .comments-list {
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;

    .comments-list-item {

      border-bottom: 1px solid #E5E5E5;
      padding: 5px 0px;
    }
  }
}

.post-footer {
  margin-top: 20px;

  .post-controls {
    float: left;
    width: 300px;
  }

  .user-info {
    float: right;
    color: #848A91;
    box-sizing: border-box;
    width: 200px;
    background-color: #E8E7E5;
    padding: 7px 10px;

    div.created-at {
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 5px;
    }

    div.user-avatar-32 {
      float: left;

      img.avatar {
        width: 32px;
        height: 32px;
      }
    }

    div.user-details {
      float: left;
      margin-left: 10px;

      &::after {
        clear: both;
        content: " ";
        display: table;
      }
    }

    &::after {
      clear: both;
      content: " ";
      display: table;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

.comments-list {
  margin-left: 20px;

  .comment-crated-at {
    color: #c3c3c3;
  }
}
